# Grant access to Qualcomm MSM Interface (QMI) audio sockets to mediaserver
allow mediaserver qmux_audio_socket:sock_file create_file_perms;
allow mediaserver qmux_audio_socket:dir rw_dir_perms;

# Permit mediaserver to create sockets
allow mediaserver self:socket create;
